extends ../layout

block content
  h3.text-center 用户后台列表
  table.table.table-bordered
    thead
      tr
        th 姓名
        th 年龄
        th 职业
        th 爱好
        th 更新
        th 删除
    tbody
      if users && users.length > 0
        each user in users
          tr
            td #{user.name}
            td #{user.age}
            td #{user.job}
            td #{user.hobby}
            td 
              a.link(href="/admin/user/update?id=#{user.id}") 更新
            td
              a(data-id='#{user.id}' class="removeUser").btn.btn-danger 删除
      
      input(type='hidden' value='' id='selectId')
      
  a(href="/admin/user/add").btn.btn-primary 添加

  //删除提示弹出框
  .modal(id='removeConfirm')
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button" data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only Close
          h4.modal-title 删除提示
        
        .modal-body
          p(id='removeTips') 确定要删除该用户吗？
        
        .modal-footer
          button(type="button" data-dismiss="modal" id="cancelRemove").btn.btn-default 关闭
          button(type="button" id="removeSubmit").btn.btn-primary 确定
              
  
  //导入用户处理脚本
  script(src="/javascripts/users.js")